<div class="container">
    
    <div class="page-header">
        <h1>Edit</h1>
    </div>
    <div class='row'>
        <div class='col-sm-8'>
            <table class='table table-striped table-bordered table-hover'>
                <thead>
                    <th colspan="2">
                        Widget Edit
                    </th>
                </thead>
                <tbody>
                    <tr>
                        <td>Name</td>
                        <td><input ng-model="editCtrl.wdname"> </td>
                    </tr>
                    <tr>
                        <td>Number</td>
                        <td><input ng-model="editCtrl.wdnumber"></td>
                    </tr>
                    <tr>
                        <td colspan="2"><strong>key/value pair</strong></td>

                    </tr>
                    <tr>
                        <td><input ng-model="editCtrl.wdkey1"></td>
                        <td><input ng-model="editCtrl.wdvalue1"></td>
                    </tr>
                    <tr>
                        <td><input ng-model="editCtrl.wdkey2"></td>
                        <td><input ng-model="editCtrl.wdvalue2"></td>
                    </tr>
                    <tr>
                        <td><input ng-model="editCtrl.wdkey3"></td>
                        <td><input ng-model="editCtrl.wdvalue3"></td>
                    </tr>
                    <tr>
                        <td><input ng-model="editCtrl.wdkey4"></td>
                        <td><input  ng-model="editCtrl.wdvalue4"></td>
                    </tr>
                    <tr>
                        <td><input ng-model="editCtrl.wdkey5"></td>
                        <td><input ng-model="editCtrl.wdvalue5"> </td>
                    </tr>
                    <td colspan="2" class="actiondiv">
                        <a class='btn btn-primary' ng-click='editCtrl.update()'>Save</a>
                        <a class='btn btn-danger' href="/detail/{{editCtrl.wdid}}">Cancel</a>
                    </td>
            </table>
        </div>
    </div>

</div>